/* GENERAL */
@font-face {
    font-family: SpaceMonoReg;
    src: url("../fonts/SpaceMono-Regular.ttf");
}

body{
    font-family: SpaceMonoReg;
    text-align: center;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    opacity: 80%;
}

.container{
    margin: auto;

    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 

    width: 98vw;
    height: 20vw;
}

/* GALLERY */

div.gallery {
    margin: 1em 2em;
    float: left;
    width: 240px;
    height: 145px;
}

div.gallery:hover {
    width: 242px;
    height: 147px;
}

div.gallery img {
    height: auto;
    width: 248px;
    height: 150px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div a {
    background-color: hotpink;
    padding-bottom: 1px;
}