/* NAVBAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #cecece;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: #424242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #c98da6;
    color: black;
}

span {
    float: left;
}

.main{
    background-color: #c95f8b;
    color: white;
}