form{
    text-align: center;
}

button{
    font-family: SpaceMonoReg;

    height: 3em;
    width: 10em;
    border-radius: 15px;
    border-width: 3px;
    font-size: 20px;
    margin: 3em;

    border-color: hotpink;
    color: rgb(255, 75, 165);
}

button:hover{
    color: rgb(255, 0, 128);
}